function InsertionSort.insert 4
push constant 1
pop local 0
label WHILE_EXP0
push local 0
push argument 1
lt
not
if-goto WHILE_END0
push local 0
push argument 0
add
pop pointer 1
push that 0
pop local 2
push local 0
push constant 1
sub
pop local 1
push constant 0
not
pop local 3
label WHILE_EXP1
push local 3
not
if-goto WHILE_END1
push local 1
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 3
goto IF_END0
label IF_FALSE0
push local 1
push argument 0
add
pop pointer 1
push that 0
push local 2
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
push constant 1
add
push argument 0
add
push local 1
push argument 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
sub
pop local 1
goto IF_END1
label IF_FALSE1
push constant 0
pop local 3
label IF_END1
label IF_END0
goto WHILE_EXP1
label WHILE_END1
push local 1
push constant 1
add
push argument 0
add
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
