function StringOperations.strcmp 6
push argument 0
call String.length 1
pop local 0
push argument 1
call String.length 1
pop local 1
push local 0
pop local 2
push local 1
push local 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
pop local 2
label IF_FALSE0
push constant 0
pop local 3
label WHILE_EXP0
push local 3
push local 2
lt
not
if-goto WHILE_END0
push argument 0
push local 3
call String.charAt 2
pop local 4
push argument 1
push local 3
call String.charAt 2
pop local 5
push local 4
push local 5
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 4
push local 5
sub
return
label IF_FALSE1
push local 3
push constant 1
add
pop local 3
goto WHILE_EXP0
label WHILE_END0
push local 0
push local 1
sub
return
