function QuickSort.quick 0
push argument 0
push constant 0
push argument 1
push constant 1
sub
call QuickSort.sort 3
pop temp 0
push constant 0
return
function QuickSort.sort 1
push argument 1
push argument 2
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
push argument 1
push argument 2
call QuickSort.partition 3
pop local 0
push argument 0
push argument 1
push local 0
push constant 1
sub
call QuickSort.sort 3
pop temp 0
push argument 0
push local 0
push constant 1
add
push argument 2
call QuickSort.sort 3
pop temp 0
label IF_FALSE0
push constant 0
return
function QuickSort.partition 5
push argument 2
push argument 0
add
pop pointer 1
push that 0
pop local 0
push argument 1
push constant 1
sub
pop local 1
push argument 1
pop local 2
label WHILE_EXP0
push local 2
push argument 2
lt
not
if-goto WHILE_END0
push constant 0
not
pop local 4
push local 2
push argument 0
add
pop pointer 1
push that 0
push local 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 4
label IF_FALSE0
push local 4
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
push constant 1
add
pop local 1
push local 1
push argument 0
add
pop pointer 1
push that 0
pop local 3
push local 1
push argument 0
add
push local 2
push argument 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push argument 0
add
push local 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE1
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
push local 1
push constant 1
add
push argument 0
add
pop pointer 1
push that 0
pop local 3
push local 1
push constant 1
add
push argument 0
add
push argument 2
push argument 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push argument 2
push argument 0
add
push local 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
return
