function StringOperations.reverse 4
push argument 0
call String.length 1
pop local 0
push constant 0
pop local 2
push local 0
push constant 1
sub
pop local 3
label WHILE_EXP0
push local 2
push local 3
lt
not
if-goto WHILE_END0
push argument 0
push local 2
call String.charAt 2
pop local 1
push argument 0
push local 2
push argument 0
push local 3
call String.charAt 2
call String.setCharAt 3
pop temp 0
push argument 0
push local 3
push local 1
call String.setCharAt 3
pop temp 0
push local 2
push constant 1
add
pop local 2
push local 3
push constant 1
sub
pop local 3
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
